<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

    .genres {
        margin: 80px 30px;
    }
</style>

<div class="home-container">
    <div class="genres">
        <h1>Genres:</h1>
        <br>
        <a href="{{ request.path }}">All ({{ genres.count }})</a>
        {% for genre in genres %}
            <hr>
            <a href="{{ request.path }}?q={{ genre.name }}">{{genre}} ({{ genre.books.count }})</a>
        {% endfor %}
    </div>

    <div>
        <br>
        <div>
            <h1 id="unique" class="new">{{ heading }}:</h1>
        </div>

        <br>
        <div style="display: flex;">
            {% for book in books %}
                <div class="card" style="width: 18rem; margin-left: 30px;">
                  <img src="{{ book.picture.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ book.name }}</h5>
                    <h6 class="card-title">{{ book.author }}</h6>
                    <p class="card-text">{{ book.description |slice:":100" }}</p>

                    {% if request.user.is_authenticated %}
                        <a href="#" class="btn btn-primary">Read</a>
                        {% if book in request.user.books.all %}
                            <a href="{% url 'delete' book.id %}" class="btn btn-primary">Delete</a>
                        {% else %}
                            <a href="{% url 'adding' book.id %}" class="btn btn-primary">Add</a>
                        {% endif %}
                    {% endif %}
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>